.log-debug {
  background-color: #00AA00;
}
.log-warn {
  background-color: #aaaa00;
}
.log-info {
  background-color: #003daa;
}
.log-error {
  background-color: #aa3c02;
}
.log-fatal {
  background-color: #aa0014;
}
